<script id="tree_list" type="text/ng-template">
    <ul class="tree-select-list">
        <li ng-repeat="leaf in tree[treeConfig.childrenField] track by $index" title="{{leaf[treeConfig.entityField][treeConfig.textField]}}"
            class="tree-select-cell" ng-class="{'active':leaf[treeConfig.entityField].selected}"
            ng-click="selectLeaf(leaf)"
            ng-mouseenter="moveLeaf(tree, leaf)"
            ng-mouseleave="leaveLeaf(tree, leaf)"
            >{{leaf[treeConfig.entityField][treeConfig.textField]}}</li>
    </ul>
    <div ng-repeat="leaf in tree[treeConfig.childrenField] track by $index" ng-include="'tree_list'"
        ng-show="leaf[treeConfig.entityField].selected"
        ng-init="tree=leaf" class="tree-select-list-wrap"
        ng-if="leaf[treeConfig.childrenField]&&leaf[treeConfig.childrenField].length>0"></div>
</script>

<div class="tree-select-container">
    <p class="tree-select-path" ng-mouseenter="treeConfig.isTreeShow=true;">
        <span href="#" ng-repeat="leaf in treeConfig.leafPath" ng-class="{'next':!$first}"
            class="tree-select-node" ng-click="selectPath($index)"
            >{{leaf[treeConfig.entityField][treeConfig.textField]}}</span>
        <span href="#" class="tree-select-node" ng-show="treeConfig.leafPath.length===0">_</span>
    </p>

    <div class="tree-select-list-wrap first" ng-include="'tree_list'"
        ng-show="treeConfig.isTreeShow" ng-if="tree&&oneCombineMode!=='Y'"></div>

    <div class="tree-select-list-wrap first" ng-show="treeConfig.isTreeShow" ng-if="tree&&oneCombineMode==='Y'">
        <ul class="tree-select-list">
            <li ng-repeat="leaf in tree[treeConfig.childrenField] track by $index" title="{{leaf[treeConfig.entityField][treeConfig.textField]}}"
                class="tree-select-cell" ng-class="{'active':leaf[treeConfig.entityField].selected}"
                ng-click="selectLeaf(leaf)"
                ng-mouseenter="moveLeaf(tree, leaf)" ng-mouseleave="leaveLeaf(tree, leaf)"
                >{{leaf[treeConfig.entityField][treeConfig.textField]}}</li>
            <li ng-repeat="leaf in tree[treeConfig.childrenField][0][treeConfig.childrenField] track by $index"
                title="{{leaf[treeConfig.entityField][treeConfig.textField]}}"
                class="tree-select-cell" ng-class="{'active':leaf[treeConfig.entityField].selected}"
                ng-click="selectLeaf(leaf)"
                ng-mouseenter="moveLeaf(tree[treeConfig.childrenField][0], leaf)" ng-mouseleave="leaveLeaf(tree[treeConfig.childrenField][0], leaf)"
                >{{leaf[treeConfig.entityField][treeConfig.textField]}}</li>
        </ul>
        <div ng-repeat="leaf in tree[treeConfig.childrenField][0][treeConfig.childrenField] track by $index" ng-include="'tree_list'"
            ng-show="leaf[treeConfig.entityField].selected"
            ng-init="tree=leaf" class="tree-select-list-wrap"
            ng-if="leaf[treeConfig.childrenField]&&leaf[treeConfig.childrenField].length>0"></div>
    </div>
</div>