<!DOCTYPE html>
<html lang="en" ng-app="directives">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="src/tree_select/tree_select.css">
    <link rel="stylesheet" href="src/carousel/carousel.css">
    <link rel="stylesheet" href="index.css">

    <script src="lib/angular.js"></script>
    <script src="lib/jquery-1.4.4.min.js"></script>
    <script src="lib/jquery.ztree.all.min.js"></script>
    <script>
        angular.module("directives", []);
    </script>
    <script src="src/carousel/carousel.js"></script>
    <script src="src/tree_select/tree_select.js"></script>
    <script src="src/region/region.js"></script>
    <script src="index.js"></script>
</head>
<body ng-controller="mainCtrl">

    <div class="container" style="background-color: #0f214a;">
        <input type="text" ng-model="regionCtrl.regionName">
        <button ng-click="regionCtrl.setLeaf(regionCtrl.regionName)">测试设置树的方法</button>
        <!-- <tree-select tree-config="regionCtrl.treeConfig" tree="regionCtrl.tree"></tree-select> -->
        <region-select region-config="regionCtrl.regionConfig"></region-select>
    </div>

    <div class="carousel-testing">
        <div gx-carousel="carouselExt.wrapperConfig" class="carousel-container">
            <div gx-slide="carouselExt.slideConfig"
                ng-repeat="item in carouselExt.data">
                <div class="test-item">
                    <div class="img-wrap small">
                        <img ng-src="{{item.imageUrl}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>