.gx-carousel-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.gx-carousel-container .gx-carousel-indicator {
  position: absolute;
  bottom: 40px;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 1;
}
.gx-carousel-container .gx-carousel-indicator .indicator-icon {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: transparent;
  list-style: none;
  cursor: pointer;
  overflow: hidden;
}
.gx-carousel-container .gx-carousel-indicator .indicator-icon .indicator-inner {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 100%;
  background: #fff;
  transition: 0.1s margin ease-in-out;
}
.gx-carousel-container .gx-carousel-indicator .indicator-icon.active .indicator-inner {
  margin-top: 0;
}
.gx-carousel-container .gx-carousel-control {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2b3646;
  cursor: pointer;
  z-index: 3;
}
.gx-carousel-container .gx-carousel-control .control-icon {
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}
.gx-carousel-container .gx-carousel-control.left {
  left: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(to right, #b7b8b9, transparent);
}
.gx-carousel-container .gx-carousel-control.right {
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(to left, #b7b8b9, transparent);
}
.gx-carousel-container .gx-carousel-control.top {
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, #b7b8b9, transparent);
}
.gx-carousel-container .gx-carousel-control.bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to top, #b7b8b9, transparent);
}
.gx-carousel-container .gx-carousel-main {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.gx-carousel-container .gx-carousel-main .gx-carousel-wrapper {
  position: absolute;
  display: flex;
  overflow: hidden;
}
.gx-carousel-container .gx-carousel-main .gx-carousel-wrapper.row {
  flex-direction: row;
}
.gx-carousel-container .gx-carousel-main .gx-carousel-wrapper.column {
  flex-direction: column;
}
.gx-carousel-container .gx-carousel-main .gx-carousel-wrapper.animation {
  transition: 0.3s left ease-in-out, 0.3s top ease-in-out;
}
.gx-slide {
  width: 100%;
  height: 100%;
}
.gx-slide.active {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  overflow: hidden;
}
.gx-slide.active.left {
  left: -100%;
}
.gx-slide.active.right {
  left: 100%;
}
.gx-slide.active.top {
  top: -100%;
}
.gx-slide.active.bottom {
  top: 100%;
}
