<div class="gx-carousel-container">

    <ol class="gx-carousel-indicator">
        <li ng-repeat="item in slides track by $index"
            ng-class="{'active':item.active}"
            ng-click="select(item)" class="indicator-icon">
            <span class="indicator-inner"></span>
        </li>
    </ol>

    <a href role="button" class="gx-carousel-control left"
        ng-if="carouselConfig.layout==='h'" ng-click="pre()">
        <i class="fa fa-angle-left control-icon" aria-hidden="true"></i>
    </a>
    <a href role="button" class="gx-carousel-control right"
        ng-if="carouselConfig.layout==='h'" ng-click="next()">
        <i class="fa fa-angle-right control-icon" aria-hidden="true"></i>
    </a>

    <a href role="button" class="gx-carousel-control top" 
        ng-if="carouselConfig.layout==='v'" ng-click="pre()">
        <i class="fa fa-angle-up control-icon" aria-hidden="true"></i>
    </a>
    <a href role="button" class="gx-carousel-control bottom"
        ng-if="carouselConfig.layout==='v'" ng-click="next()">
        <i class="fa fa-angle-down control-icon" aria-hidden="true"></i>
    </a>

    <div class="gx-carousel-main">
        <div class="gx-carousel-wrapper" ng-transclude></div>
    </div>
</div>